body{
  height: 100%;
  background: url(../../image/background.jpg);
}

.body{
  height: 100%;
}
.background{
  height: 800px;
  width: 100%;
}
.loginblock{
  width: 28rem ;
  height: 30rem;
  background: WHITE;
  position: absolute;
  top: 10rem;
  right:  15rem;
  z-index: 100;
  border-radius: 1rem;
}
.text{
  font-size: 1.5rem;
  font-weight: bold;
  
  margin-left: 2rem;
}

.registerblock{
  width: 50% ;
  height: 60%;
  opacity:0.9;
  margin-left: 26%;
}
.headcolor{
  color: #8a8a8a;
}
.top{
  background: #c2c2c2;
  opacity:0.6 ;
}
.input{
  margin-top: 5%;
  margin-left: 31%;
  background: white;
  opacity:0.75 ;
  border-radius:9px;
}
.btn-color{
  background: #1679c8;
}
.span{
  display: none;
  /*color: #8a8a8a;*/
  font-size: 80%;
}