<!DOCTYPE html>
<html>
<head>
	<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>云盘，让美好永远陪伴</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">  <!-- Google web font "Open Sans" -->
  <link rel="stylesheet" href="../../css/font-awesome.min.css">
  <link rel="stylesheet" href="../../css/bootstrap.min.css">
  
  <link rel="stylesheet" href="../../css/demo.css" />
  <link rel="stylesheet" href="index.css" />
  <link rel="stylesheet" href="../../css/templatemo-style.css">

  <script type="text/javascript" src="../../js/jquery.js"></script>
  <script type="text/javascript" src="../../js/modernizr.custom.86080.js"></script>
  <script type="text/javascript" src="../../js/index.js"></script>
		

	</head>

	<body>

			<div id="particles-js"></div>
		
			<!--<ul class="cb-slideshow">
	            <li></li>
	            <li></li>
	            <li></li>
	            <li></li>
	            <li></li>
	            <li></li>
	        </ul>-->
				<div class="cb-slideshow-text-container ">
					<div class= "tm-content registerblock section">
						<div class="text-center">
							<h1 class="headcolor">欢迎注册小蓝鸡账号</h1>
						</div>
						<form action="#" method="get">
	               	    	<div class="form-group column text-center">
	               	    		<div>
									<input class="col-sm-5 input" id="name" type="text" placeholder="用户名">
								</div>
								<div>
									<input class="col-sm-5 input" id="password" type="password" placeholder="密码">
								</div>
								<div>
									<input class="col-sm-5 input" id="password" type="password" placeholder="确认密码">
								</div>
								<div>
									<input class="col-sm-5 input" id="email" type="text" placeholder="邮箱">
								</div>
								</div>
								<div class="text-center">
									<button id="register" type="submit" class="btn btn-primary btn-color col-sm-5 ">注册</button>
								</div>
							</div>
                        </form>
					
					
                    
                    
					

					</div>
				</div>
				
	</body>

	<script type="text/javascript" src="../../js/particles.js"></script>
	<script type="text/javascript" src="../../js/app.js"></script>
</html>